
  #signUp input,
  #login input {
    margin-bottom: 10px;
  }

  #signUp form,
  #login form {
    display: flex;
    flex-direction: column;
  }

  #signUp div
   #signUp div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #signUp button,
  #login button {
    width: 200px
  }