.nav {
  color: white;
  font-size: 30px;
  display: flex;
  margin-right: 50px;
  text-decoration: none;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  background-color: rgb(195, 255, 255);
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link {
  padding: 20px;
}

.dashboardComponents {
  display: flex;
  justify-content: space-around;
}

.Calendar {
  height: 100px;
  background-color: yellowgreen;
}

.ConfirmedEvents {
  height: 200px;
  background-color: rgb(255, 174, 0);
}

.NewEvents {
  height: 200px;
  background-color: rgb(215, 114, 255);
}

#profilePicture{
  width: 10%;
  max-width: 80px;
}


.fa-lemon{
  width: 100px;
  color: #e1e510;
}
