#FriendsAll {
    background-color: rgb(255, 193, 233);
}

#FriendsOverview {
    background-color: rgb(250, 255, 185);
}

#InviteList {
    background-color: rgb(213, 255, 174);
}

#FriendsPending {
    background-color: rgb(239, 239, 212);
}

#FriendsPending img,
.friendIcon {
    height: 40px;
    max-width: 50px
}

#FriendsPending p {
    margin: 0;
}

#MyEvents {
    background-color: antiquewhite;
    height: 150px;
}

.toggleFriendsOverview {
    width: 200px
}

#OwnProfile .leftRow {
    display: flex;
    flex-direction: column;
    width: 30%; /* changeLater: in mobile view it should occupy the whole width */
}

.rowFlex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

#OwnProfile .header {
    display: flex;
}

#welcome {
    padding-right: 30px
}

#FriendsOverview,
#FriendsAll,
.inviteUsers {
    display: flex;
    flex-wrap: wrap;
}

.inviteUsers {}

.fewFriends img,
.friend img,
.inviteUsers img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fewFriends,
.friend,
.inviteUser {
    padding: 10px 3px
}

.friend {
    display: flex;
    flex-direction: column;
}

.lists {
    padding: 10px
}

.list p {
    margin: 0
}

